#Service{	
	-fx-font-size: 20px;
	-fx-border-color: #001f3f;
	-fx-border-width: 3px;			
	-fx-transition: 1s;
	-fx-text-fill : Black;
	-fx-background-color:  linear-gradient(rgb(255, 136, 0),rgb(206, 22, 22));
	-fx-cursor:  HAND;
}

#cennik{
	-fx-cursor:  HAND;
	-fx-border-color: #001f3f;
	-fx-border-width: 3px;			
	
	
	-fx-font-size: 20px;
	-fx-background-color:  linear-gradient(rgb(255, 136, 0),rgb(206, 22, 22));
	-fx-text-fill : Black;
}

#cennik:hover{
	-fx-cursor:  HAND;	
	-fx-background-color: rgb(255, 136, 0);
	
}

#kontakt:hover{
	
	-fx-cursor:  HAND;
	-fx-background-color:  linear-gradient(rgb(255, 136, 0),rgb(206, 22, 22));
		
}


#Service:hover{

	-fx-background-color: rgb(255, 136, 0);

}


#kontakt{
	-fx-border-color: #001f3f;
	-fx-border-width: 3px;			
	-fx-cursor:  HAND;
	-fx-font-size: 20px;
	-fx-background-color:  linear-gradient(rgb(255, 136, 0),rgb(206, 22, 22));
	-fx-text-fill : Black;
}

#kontakt:hover{
	
	-fx-background-color: rgb(255, 136, 0);
	
}

#title{
	
	-fx-text-fill : white;

}

#klient{
	-fx-border-color: #001f3f;
	-fx-border-width: 3px;			
	-fx-cursor:  HAND;
	-fx-background-color:  linear-gradient(rgb(255, 136, 0),rgb(206, 22, 22));
	-fx-text-fill : black;
}
#klient:hover{
	
	-fx-background-color: rgb(255, 136, 0);
	
}

#pracownik{
	-fx-border-color: #001f3f;
	-fx-cursor:  HAND;
	-fx-background-color:  linear-gradient(rgb(255, 136, 0),rgb(206, 22, 22));
	-fx-text-fill : black;
	-fx-border-width: 3px;	
}
#pracownik:hover{
	
	-fx-background-color: rgb(255, 136, 0);
	
}

#background{

-fx-background-color: radial-gradient(rgb(19, 2, 110),rgb(79, 121, 236));
-fx-background-color: radial-gradient(radius 180%,rgb(19, 2, 110), derive(rgb(79, 121, 236), 20%));



}