#klientBackground{
	
	
-fx-background-color: radial-gradient(rgb(231, 229, 241),rgb(57, 85, 161));
-fx-background-color: radial-gradient(radius 180%,rgb(220, 219, 231), derive(rgb(57, 81, 146), 20%));
	
	
}


#returnKontakt{
	
	-fx-cursor:  HAND;
	-fx-border-color: #001f3f;
	-fx-border-width: 3px;			
	
	
	-fx-font-size: 20px;
	-fx-background-color:  linear-gradient(rgb(255, 136, 0),rgb(206, 22, 22));
	-fx-text-fill : Black;
}
